body {
    background-color: #ececf8;
}
h1 {
    font-weight: bold;
    margin: 1rem 0 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    text-align: center;
}
#changeElectricityTariff {
    display: none
}